<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <footer class="site-footer h-card">
            <data class="u-url" href="/"></data>
          
            <div class="wrapper">
          
              <h2 class="footer-heading">Study Frontend!</h2>
          
              <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                  <ul class="contact-list">
                    <li class="p-name">Developer Email</li><li><a class="u-email-1" href="mailto:sgh000109@gmail.com">sgh000109@gmail.com</a></li><li><a class="u-email-2" href="mailto:do09037615@gmail.com">do09037615@gmail.com</a></li></ul>
                </div>
          
                <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/GanghyeonSeo"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">GanghyeonSeo</span></a></li></ul>
          </div>
          
                <div class="footer-col footer-col-3">
                  <p>이 블로그는 프론트엔드를 공부하며 알게 된<br>내용을 정리하기 위해 만든 블로그입니다.</p>
                </div>
              </div>
          
            </div>
          
          </footer>
    </body>
</html>